%table.table.table-striped.folder
  %thead
    %tr
      %th File
      %th
      %th Size
      %th Modified
      %th
  %tbody
    - folder.children.each do |child_folder|
      %tr
        %td.file-icon= image_tag 'fileicons/folder.png'
        %td.file-name= link_to child_folder.name, child_folder
        %td= number_to_human_size(child_folder.size).to_s.downcase
        %td= l(folder.updated_at)
        %td.file-actions
          .btn-group
            = dropdown_menu_toggle
            %ul.dropdown-menu
              %li= rename_folder_menu_item child_folder
              %li= delete_folder_menu_item child_folder
          = render 'folders/rename_modal', :folder => child_folder
          = render 'folders/delete_modal', :folder => child_folder
    - folder.user_files.each do |file|
      %tr
        %td.file-icon= image_tag(file_icon(file.extension))
        %td.file-name= link_to file.name, file
        %td= number_to_human_size(file.attachment.file.size).to_s.downcase
        %td= l(file.updated_at)
        %td.file-actions
          .btn-group
            = dropdown_menu_toggle
            %ul.dropdown-menu
              -#%li= sharing_menu_item file
              -#%li= password_menu_item file
              %li= rename_file_menu_item file
              -#%li= replace_file_menu_item file
              %li= delete_file_menu_item file
          =# render 'user_files/sharing_modal', :user_file => file
          =# render 'user_files/password_modal', :user_file => file
          = render 'user_files/rename_modal', :user_file => file
          =# render 'user_files/replace_modal', :user_file => file
          = render 'user_files/delete_modal', :user_file => file
              
    - if folder.children.empty? && folder.user_files.empty?
      %tr
        %td.empty-folder{:colspan => 4}
          %p This folder is empty, upload some files!