#rename-folder-modal.modal.fade
  .modal-header
    = link_to '&#215;'.html_safe, '#', :data => {:dismiss => 'modal'}, :class => 'close'
    %h3 Rename Folder '#{folder.name}'
  .modal-body
    = render 'rename_form', :folder => folder
  .modal-footer
    = image_tag 'loading.gif', :alt => 'Working...', :class => 'progress-wheel pull-left'
    = link_to 'Rename Folder', '#', :class => 'btn btn-primary', :id => 'rename-folder-submit'
    = link_to 'Cancel', '#', :class => 'btn', :data => {:dismiss => 'modal'}