%ul.breadcrumb
  %li= content_tag :i, '', :class => 'icon-home icon-large'
  = breadcrumbs(@folder).html_safe

.btn-group.folder-options
  = upload_button @folder
  = new_folder_button @folder
  = (rename_folder_button @folder) unless @folder == @current_user.home_folder

#upload-drop-zone.upload-drop-area.alert
  %span Drop your file(s) here to upload

#uploads-list

#folder-wrapper
  = render @folder

= render 'new_modal', :folder => @folder
= render 'rename_modal', :folder => @folder