= confirmation_modal_tag :id => "delete-file-modal-#{user_file.id}", :action => user_file_path(user_file), :success_message => 'File Deleted' do
  .modal-header
    = link_to '&#215;'.html_safe, '#', :data => {:dismiss => 'modal'}, :class => 'close'
    %h2 Delete File 
    %h3= user_file.name
  .modal-body
    %p Are you sure you want to delete this file?
  .modal-footer
    = image_tag 'loading.gif', :alt => 'Working...', :class => 'progress-wheel pull-left'
    = link_to 'Delete File', '#', :class => ['btn', 'btn-primary', 'submit']
    = link_to 'Cancel', '#', :class => 'btn', :data => {:dismiss => 'modal'}