= form_modal_tag :id => "email-file-modal-#{user_file.id}", :class => 'email-file-modal' do
  .modal-header
    = link_to '&#215;'.html_safe, '#', :data => {:dismiss => 'modal'}, :class => 'close'
    %h2 Email File
    %h3= user_file.name
  .modal-body
    = render 'user_files/email_form', :user_file => user_file
  .modal-footer
    = image_tag 'loading.gif', :alt => 'Working...', :class => ['progress-wheel', 'pull-left']
    = link_to 'Email File', '#', :class => ['btn', 'btn-primary', 'submit']
    = link_to 'Cancel', '#', :class => 'btn', :data => {:dismiss => 'modal'}