= simple_form_for [user_file.folder, user_file], :html => {:class => 'form-horizontal'} do |form|

  .well
    - if user_file.password && user_file.errors.empty?
      = content_tag :i, '', :class => 'icon-lock icon-huge pull-left'
      .modal-alert-text
        %h3 A password is set for this file
        %p Use the form below to change the password
        %p Submit the form empty to remove the password
    - else
      = content_tag :i, '', :class => 'icon-info-sign icon-huge pull-left'
      .modal-alert-text
        %h3 No password is set for this file
        %p Anyone with the URL for this file may download it
        %p To set a password for this file use the form below.

  .well 
    - if user_file.password
      %p Enter a new password for this file
    - else
      %p Enter a password for this file.

    = form.error_notification

    = form.input :password, :input_html => {:class => 'span3'}

    = form.input :password_confirmation, :input_html => {:class => 'span3'}

    .form-actions
      = form.submit 'Rename File', :class => 'btn btn-primary'