= simple_form_for [user_file], :html => {:class => 'form-horizontal'} do |form|

  - if user_file.password
    %p
      %strong
        A Password is set for this file
    %p Use the fields below to change the password.
  - else
    %p.muted
      Set a password for this file - users will need both the Share Link and the password to download the file.

  = form.error_notification

  = form.input :password, :input_html => {:class => 'span3'}

  = form.input :password_confirmation, :input_html => {:class => 'span3'}

  .form-actions
    = form.submit 'Rename File', :class => 'btn btn-primary'