.modal.fade{:id => "sharing-modal-#{file.id}"}
  .modal-header
    = link_to '&#215;'.html_safe, '#', :data => {:dismiss => 'modal'}, :class => 'close'
    %h3 Share #{file.attachment.file.filename}
  .modal-body
    %h4 Email Link
    = simple_form_for :email_link do |form|
      = form.input :addresses, :as => :text, :input_html => {:rows => 5, :class => 'span5'}
    
  .modal-footer
    footer