= confirmation_modal_tag :id => "delete-folder-modal-#{folder.id}", :action => folder_path(folder), :success_message => 'Folder Deleted' do
  .modal-header
    = link_to '&#215;'.html_safe, '#', :data => {:dismiss => 'modal'}, :class => 'close'
    %h2 Delete Folder
    %h3= folder.name
  .modal-body
    %p Are you sure you want to delete this folder?
  .modal-footer
    = image_tag 'loading.gif', :alt => 'Working...', :class => 'progress-wheel pull-left'
    = link_to 'Delete Folder', '#', :class => ['btn', 'btn-primary', 'submit']
    = link_to 'Cancel', '#', :class => 'btn', :data => {:dismiss => 'modal'}