= form_modal_tag :id => "new-folder-modal", :success_message => 'Folder Created' do 
  .modal-header
    = link_to '&#215;'.html_safe, '#', :data => {:dismiss => 'modal'}, :class => 'close'
    %h2 New Folder
  .modal-body
    = render 'folders/new_form', :folder => folder.children.build
  .modal-footer
    = image_tag 'loading.gif', :alt => 'Working...', :class => 'progress-wheel pull-left'
    = link_to 'Create Folder', '#', :class => ['btn', 'btn-primary', 'submit']
    = link_to 'Cancel', '#', :class => 'btn', :data => {:dismiss => 'modal'}