<div class="admins">
  <h2> File History </h2>
  <h3> Does history repeat itself? </h3>
  
  
  
  <div class=" form-horizontal well">
    <%= form_tag(file_logs_path, :method => "get") do %>
      <div class="control-group ">
        <div class="control-label">
          <%= label_tag "File" %>
        </div>
        <div class="controls">
          <%= text_field_tag "search[name]", @name, :placeholder => "Name" %>
        </div>
      </div>
        
        
        
      <div class="control-group ">
        <div class="control-label">
          <%= label_tag "Uploader" %>
        </div>
        <div class="controls">
          <%= text_field_tag "search[user]", @user, :placeholder => "Name" %>
        </div>
      </div>
      
    
    
      <div class="form-actions ">
        <%= submit_tag "Search", :class => "btn btn-primary" %>
        <%= link_to "Clear", file_logs_path, :class => "btn" %>
      </div>
    <% end %>
  </div>

  
  <div class="">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            File 
          </th>
          <th>
            Size
          </th>
          <th>
            Downloads
          </th>
          <th>
            Uploader
          </th>
          <th>
            Uploaded
          </th>
          <th>
            Deleted
          </th>
        </tr>
      </thead>
      <tbody>
        <% @file_logs.each do |file_log| %>
          <tr>
            <td>
              <% file_log.file_revisions.each do |revision| %>
                <div class="<%= "grey" unless revision == file_log.file_revisions.first %>">
                  <div class="black">
                    <% if revision == file_log.file_revisions.last %>
                      <span class="icon-blank"></span>
                    <% else %>
                      <span class="tooltip_trigger">
                        <i class="icon-time"></i>
                      </span>
                      <div class="tooltip">
                        <%= "Name changed " + l(revision.created_at) %>
                      </div>
                    <% end %>
                    
                    &nbsp;
                    <% if revision.file_name.length > 30 %>
                      <div class="tooltip_trigger">
                        <%= revision.file_name.truncate(30) %> 
                      </div>
                      <div class="tooltip">
                        <%= revision.file_name %>
                      </div>
                    <% else %>
                      <%= revision.file_name %>
                    <% end %>
                    &nbsp;
                    
                  </div>
                </div>
              <% end %>
            </td>
            <td>
              <%= number_to_human_size(file_log.file_size).to_s.downcase %>
            </td>
            <td>
              <%= file_log.downloads %>
            </td>
            <td>
              <%= file_log.user.name %>
            </td>
            <td>
              <%= l(file_log.created_at) %>
            </td>
            <td>
              <%= l(file_log.deleted_at) unless file_log.deleted_at.blank? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%= will_paginate @file_logs %>
  
</div>