%h2 Feedback
%h3 Are we doing something well? Do we need to add a feature? Let us know!

= simple_form_for @feedback, :html => {:class => 'form-horizontal'} do |form|

  = form.error_notification

  = form.input :subject, :input_html => {:class => 'span9'}

  = form.input :description, :as => :text, :input_html => {:class => 'span9', :rows => 5}

  .form-actions
    = form.submit 'Send Feedback', :class => 'btn btn-primary'


  = image_tag 'footer-snakes.png', :alt => 'Space Snakes', :class => 'space-snakes'