!!! 5
%html
  %head
    %title FileShip
    %meta{:charset => 'utf-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
  %body
    .wrapper
      = render 'tophat'
      .container
        - unless controller_name == 'pages'
          %header
            %h1 FileShip

        %section
          = yield
      .footer-push

    = render 'footer'