!!! 5
%html
  %head
    %title FileShip
    %meta{:charset => 'utf-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'fileship'
    = stylesheet_link_tag @stylesheet_path unless @stylesheet_path.blank?
    = csrf_meta_tag

    <!--[if lt IE 9]>
    = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'
    <![endif]-->

  %body{:class => [action_name, controller_name]}
    .wrapper

      = render 'tophat', :show_links => true

      .header-wrapper
        .container
          %header
            - unless action_name == 'welcome'
              %h1= link_to 'FileShip', root_path
              %nav.tabbable
                %ul.nav.nav-tabs.pull-right
                  %li{:class => (['folders', 'user_files'].include?(controller_name) ? 'active' : nil)}
                    = link_to "#{content_tag :i, '', :class => 'icon-file icon-large'} Files".html_safe, folders_path
                  %li{:class => (action_name == 'help' ? 'active' : nil)}
                    = link_to "#{content_tag :i, '', :class => 'icon-question-sign icon-large'} Help".html_safe, help_path
                  %li{:class => (controller_name == 'feedback' ? 'active' : nil)}
                    = link_to "#{content_tag :i, '', :class => 'icon-comment icon-large'} Feedback".html_safe, new_feedback_path

      .container
        %section#main
          = render 'alerts'
              
          = yield

      .footer-push

    = render 'footer'