!!! 5
%html
  %head
    %title FileShip
    %meta{:charset => 'utf-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'

    <!--[if lt IE 9]>
    = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'
    <![endif]-->

  %body.dark{:class => action_name}
    .wrapper

      - unless action_name == 'welcome'

        = render 'tophat', :show_links => false

        .container
          %header
            %h1= link_to 'FileShip', root_path

      .container
        %section
          = yield

      .footer-push

    = render 'footer'